 
 * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
      }

 .p1 {
        margin-top: 8px;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        line-height: 20px;
        margin-bottom: 0;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
           
        .p2 {
            color: rgb(118, 110, 110);
            font-size: 13px;
            margin-top: 0;
            margin-bottom: 1px;
        }
        .p3
        {
            color: rgb(120, 113, 113);
            font-size: 13px;
            margin-top: 0;
        }
        
        body {
            margin: 0;
            padding: 80px;
            padding-top: 80px;
            padding-left: 80px;
        }
        