.header {
    display: flex;
        height: 57px;
        border-bottom: 1px solid rgb(222, 222, 222);
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;

        z-index: 100;
      }

.left-section {
    width: 200px;
    display: flex;
    align-items: center;
    
   
}
.hamburger {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.yt-icon {
    height: 20px;
}
.middle-section {
    flex: 1;
    margin-right: 35px;
     margin-left: 70px;
     max-width: 500px;
     display: flex;
     align-items: center;
}
.search-bar {
    flex: 1;
    height: 35px;
    padding-left: 9px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
    width: 0;


}
.search-bar::placeholder {
    font-family: Arial;
    font-size: 14px;

}
.search-button {
    height: 38.677px;
    width: 66px;
    background-color: rgb(224, 217, 217);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(193, 193, 190);
    margin-left: -1px;
    margin-right: 10px;
    border-radius: 2px;

}
.search-button:hover {
    background-color: gray;
    cursor: pointer;
}
.search-icon {
    height: 22px;
}
.voice-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}
.voice-icon {
    height: 25px;
    margin-top: 4px;
    background-color: aliceblue;

}
.right-section {
 align-items: center;
 display: flex;
 width: 182px;
 justify-content: space-between;
 margin-right: 24px;
 margin-left: 29px;
 flex-shrink: 0;
}
.upload {
height: 25px;

}
.yt-apps {
height: 25px;

}
.notify {
height: 25px;

}
.user-pic {
height: 35px;
border-radius: 50%;

}
.search-bar:focus {
        outline: 1px solid rgb(31, 92, 198);
        outline-offset: -1px;
}
 .tooltip {
        background-color: rgba(96, 96, 96, 0.9);
        color: white;
        font-size: 12px;
        padding: 8px;
        border-radius: 2px;
        position: absolute;

        bottom: -50px;

        opacity: 0;
        transition: opacity 0.15s;
        pointer-events: none;
        white-space: nowrap;
      }

      .tooltip-container {
        position: relative;
        display: flex;
        justify-content: center;
      }

      .tooltip-container:hover .tooltip {
        opacity: 1;
      }
